# ETL & Datawarehouse
**Purpose** : load, process and save data from a datalake (S3) to a datawarehouse (RDS)

In [15]:
# import 
import os
import boto3
import pandas as pd
from dotenv import load_dotenv
from IPython.display import display
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker 
from sqlalchemy import Column, Integer, String, Float 
from sqlalchemy.ext.declarative import declarative_base

In [16]:
# load dotenv variables
load_dotenv()
DBUSER = os.getenv('DBUSER')
DBPASS = os.getenv('DBPASS')
DBHOST = os.getenv('DBHOST')
DBNAME = os.getenv('DBNAME')

print(f"RDS Database : {DBNAME}")

RDS Database : postgres

In [17]:
# engine : connected to our db
connection_string = f"postgresql+psycopg2://{DBUSER}:{DBPASS}@{DBHOST}/{DBNAME}"
engine = create_engine(connection_string, echo=True, future=True)

In [18]:
# sqlalchemy session to upload database
Session = sessionmaker(bind=engine)
local_session = Session()

In [19]:
# declarative base
Base = declarative_base()

# create city table
# Let's define our table 
class City(Base):
    __tablename__ = "cities"

    uuid         = Column(String, primary_key=True)
    name         = Column(String)
    full_address = Column(String)
    latitude     = Column(Float)
    longitude    = Column(Float)

    def __repr__(self):
        return f"<City(name={self.name})>"

# weather table
class Weather(Base):
    __tablename__ = "weathers"

    weather_id    = Column(Integer, primary_key=True)
    city_uuid     = Column(String)
    volume_rain   = Column(Float)

    def __repr__(self):
        return f"<Weather(uuid={self.city_uuid}, volume={self.volume_rain})>"

# hotel table
class Hotel(Base):
    __tablename__ = "hotels"

    hotel_id     = Column(Integer, primary_key=True)
    name        = Column(String)
    city        = Column(String)
    url         = Column(String)
    image_url   = Column(String)
    score       = Column(Float)
    description = Column(String)

    def __repr__(self):
        return f"<Hotel(name={self.name}, score={self.score})>"

In [20]:
# create_table
INIT = False
if INIT : 
    Base.metadata.create_all(engine)

### Read Datalake files
* weather_csv
* hotels_booking_csv

In [21]:
# s3 bucket
# dotenv variables
load_dotenv()
AWSS_ACCESS_KEY = os.getenv('AWS_ACCESS_KEY_ID')
AWS_SECRET_ACCESS_KEY = os.getenv('AWS_SECRET_ACCESS_KEY')

# aws session
session = boto3.Session(aws_access_key_id=AWSS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_ACCESS_KEY)

# s3 service
s3 = session.resource("s3")

# bucket 
bucket_name = 'kayak-mahadou'
kayak_bucket = s3.Bucket(bucket_name)

In [22]:
# read weather data from s3
weather_key = "weather_data.csv"
weather_csv_obj = s3.Object(bucket_name, weather_key)
weather_csv = weather_csv_obj.get()['Body'].read().decode('utf-8') 

# dataframe
weather_df = pd.read_csv(weather_csv, index_col=[0])
display(weather_df.sample(2))
weather_df.columns

,uuid,cities,full_address,latitude,longitude,volume_rain_7days
32,176ebf7f-eef4-44bd-82d3-4754e153833e,Biarritz,"Biarritz, Bayonne, Pyrénées-Atlantiques, Nouve...",43.471144,-1.552727,9.181
21,1af774b6-52ae-4c60-b371-bc10d6a33c44,Aix en Provence,"Aix-en-Provence, Bouches-du-Rhône, Provence-Al...",43.529842,5.447474,1.273

Index(['uuid', 'cities', 'full_address', 'latitude', 'longitude',
       'volume_rain_7days'],
      dtype='object')

In [23]:
# read hotels data from s3
hotels_key = "hotels_booking.csv"
hotels_key_obj = s3.Object(bucket_name, hotels_key)
hotels_csv = hotels_key_obj.get()['Body'].read().decode('utf-8') 

# dataframe
hotels_df = pd.read_csv(hotels_csv, index_col=[0])
display(hotels_df.sample(2))

,city,name,url,image_url,score,description
12,le-havre,Holiday Inn Express - Le Havre Centre,booking.com/hotel/fr/campanile-le-havre-centre...,https://cf.bstatic.com/xdata/images/hotel/squa...,8.2,"L’Holiday Inn Express - Le Havre Centre, situé..."
135,colmar,Hôtel Roi Soleil Colmar,booking.com/hotel/fr/roi-soleil.fr.html?sid=08...,https://cf.bstatic.com/xdata/images/hotel/squa...,7.8,L'Hôtel Roi Soleil Colmar est installé dans le...

## ETL

In [24]:
# city df
keep_col = ['uuid', 'cities', 'full_address', 'latitude', 'longitude']
city_df = weather_df[keep_col].copy()

In [25]:
# weather df
keep_col = ['uuid', 'volume_rain_7days']
weather_df_volume = weather_df[keep_col].copy()
weather_df_volume = weather_df_volume.reset_index()
display(weather_df_volume.sample(2))

    index                                  uuid  volume_rain_7days
3       3  ca21cdf4-e86e-4d3c-a894-f75e6ce20fe6              5.985
26     26  25831779-40dd-4f9f-95ea-cb9cb26a506c              1.227

In [26]:
# hotel dataframe
hotels_df = hotels_df.reset_index().copy()
display(hotels_df.sample(2))

,index,city,name,url,image_url,score,description
289,289,la-rochelle,Mercure La Rochelle Vieux Port Sud,booking.com/hotel/fr/la-rochelle-vieux-port-su...,https://cf.bstatic.com/xdata/images/hotel/squa...,7.9,Doté d'un restaurant panoramique avec vue sur ...
156,156,cassis,Le Clos Des Arômes,booking.com/hotel/fr/le-clos-des-aromes.fr.htm...,https://cf.bstatic.com/xdata/images/hotel/squa...,8.4,"Situé à Cassis, l'établissement Le Clos Des Ar..."

## DataWarehouse
Tables : 
* cities
* weathers
* hotels

### City

In [27]:
# # all_cities in database
# cities_list = local_session.query(City)..filter_by(name='Joe').first()
# session.query(db.users).filter_by(name='Joe', surname='Dodson')
# user = User.query.filter_by(email=email).first()

In [28]:
# fill City TABLE
for idx in range(city_df.shape[0]) : 
    # get row
    city_row = city_df.iloc[idx]

    # create city object
    city_uuid         = city_row["uuid"]
    city_name         = city_row["cities"]
    city_fulladdress  = city_row["full_address"]
    city_latitude     = city_row["latitude"]
    city_longitude    = city_row["longitude"]
    city = City(uuid=city_uuid, name=city_name, full_address=city_fulladdress,
                latitude=city_latitude, longitude=city_longitude)

    # add & commit
    # verify if cities in table
    city_in_table = local_session.query(City).filter_by(name=city_name).first()

    if not city_in_table : 
        # Add values to db 
        local_session.add(city)

        # Commit the results 
        local_session.commit()   
        
    print(city)

2021-12-04 23:43:45,691 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2021-12-04 23:43:45,693 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-04 23:43:45,701 INFO sqlalchemy.engine.Engine select current_schema()
2021-12-04 23:43:45,702 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-04 23:43:45,711 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-12-04 23:43:45,713 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-04 23:43:45,721 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:43:45,732 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,734 INFO sqlalchemy.engine.Engine [generated in 0.00180s] {'name_1': 'Mont Saint Michel', 'param_1': 1}
<City(name=Mont Saint Michel)>
2021-12-04 23:43:45,744 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,746 INFO sqlalchemy.engine.Engine [cached since 0.01341s ago] {'name_1': 'St Malo', 'param_1': 1}
<City(name=St Malo)>
2021-12-04 23:43:45,753 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,754 INFO sqlalchemy.engine.Engine [cached since 0.02176s ago] {'name_1': 'Bayeux', 'param_1': 1}
<City(name=Bayeux)>
2021-12-04 23:43:45,760 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,762 INFO sqlalchemy.engine.Engine [cached since 0.03011s ago] {'name_1': 'Le Havre', 'param_1': 1}
<City(name=Le Havre)>
2021-12-04 23:43:45,776 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,779 INFO sqlalchemy.engine.Engine [cached since 0.04639s ago] {'name_1': 'Rouen', 'param_1': 1}
<City(name=Rouen)>
2021-12-04 23:43:45,790 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,793 INFO sqlalchemy.engine.Engine [cached since 0.06055s ago] {'name_1': 'Paris', 'param_1': 1}
<City(name=Paris)>
2021-12-04 23:43:45,804 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,806 INFO sqlalchemy.engine.Engine [cached since 0.07344s ago] {'name_1': 'Amiens', 'param_1': 1}
<City(name=Amiens)>
2021-12-04 23:43:45,816 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,823 INFO sqlalchemy.engine.Engine [cached since 0.09083s ago] {'name_1': 'Lille', 'param_1': 1}
<City(name=Lille)>
2021-12-04 23:43:45,835 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,839 INFO sqlalchemy.engine.Engine [cached since 0.1072s ago] {'name_1': 'Strasbourg', 'param_1': 1}
<City(name=Strasbourg)>
2021-12-04 23:43:45,850 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,854 INFO sqlalchemy.engine.Engine [cached since 0.1215s ago] {'name_1': 'Chateau du Haut Koenigsbourg', 'param_1': 1}
<City(name=Chateau du Haut Koenigsbourg)>
2021-12-04 23:43:45,863 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,890 INFO sqlalchemy.engine.Engine [cached since 0.1579s ago] {'name_1': 'Colmar', 'param_1': 1}
<City(name=Colmar)>
2021-12-04 23:43:45,942 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,947 INFO sqlalchemy.engine.Engine [cached since 0.2147s ago] {'name_1': 'Eguisheim', 'param_1': 1}
<City(name=Eguisheim)>
2021-12-04 23:43:45,958 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,965 INFO sqlalchemy.engine.Engine [cached since 0.2333s ago] {'name_1': 'Besancon', 'param_1': 1}
<City(name=Besancon)>
2021-12-04 23:43:45,982 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:45,993 INFO sqlalchemy.engine.Engine [cached since 0.2606s ago] {'name_1': 'Dijon', 'param_1': 1}
<City(name=Dijon)>
2021-12-04 23:43:46,003 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,011 INFO sqlalchemy.engine.Engine [cached since 0.2786s ago] {'name_1': 'Annecy', 'param_1': 1}
<City(name=Annecy)>
2021-12-04 23:43:46,022 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,024 INFO sqlalchemy.engine.Engine [cached since 0.2923s ago] {'name_1': 'Grenoble', 'param_1': 1}
<City(name=Grenoble)>
2021-12-04 23:43:46,035 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,040 INFO sqlalchemy.engine.Engine [cached since 0.3075s ago] {'name_1': 'Lyon', 'param_1': 1}
<City(name=Lyon)>
2021-12-04 23:43:46,055 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,059 INFO sqlalchemy.engine.Engine [cached since 0.3268s ago] {'name_1': 'Gorges du Verdon', 'param_1': 1}
<City(name=Gorges du Verdon)>
2021-12-04 23:43:46,067 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,077 INFO sqlalchemy.engine.Engine [cached since 0.3443s ago] {'name_1': 'Bormes les Mimosas', 'param_1': 1}
<City(name=Bormes les Mimosas)>
2021-12-04 23:43:46,088 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,091 INFO sqlalchemy.engine.Engine [cached since 0.3584s ago] {'name_1': 'Cassis', 'param_1': 1}
<City(name=Cassis)>
2021-12-04 23:43:46,100 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,102 INFO sqlalchemy.engine.Engine [cached since 0.37s ago] {'name_1': 'Marseille', 'param_1': 1}
<City(name=Marseille)>
2021-12-04 23:43:46,112 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,115 INFO sqlalchemy.engine.Engine [cached since 0.3823s ago] {'name_1': 'Aix en Provence', 'param_1': 1}
<City(name=Aix en Provence)>
2021-12-04 23:43:46,123 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,126 INFO sqlalchemy.engine.Engine [cached since 0.3942s ago] {'name_1': 'Avignon', 'param_1': 1}
<City(name=Avignon)>
2021-12-04 23:43:46,135 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,137 INFO sqlalchemy.engine.Engine [cached since 0.405s ago] {'name_1': 'Uzes', 'param_1': 1}
<City(name=Uzes)>
2021-12-04 23:43:46,237 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,255 INFO sqlalchemy.engine.Engine [cached since 0.5229s ago] {'name_1': 'Nimes', 'param_1': 1}
<City(name=Nimes)>
2021-12-04 23:43:46,263 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,265 INFO sqlalchemy.engine.Engine [cached since 0.5327s ago] {'name_1': 'Aigues Mortes', 'param_1': 1}
<City(name=Aigues Mortes)>
2021-12-04 23:43:46,275 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,278 INFO sqlalchemy.engine.Engine [cached since 0.5454s ago] {'name_1': 'Saintes Maries de la mer', 'param_1': 1}
<City(name=Saintes Maries de la mer)>
2021-12-04 23:43:46,289 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,294 INFO sqlalchemy.engine.Engine [cached since 0.5622s ago] {'name_1': 'Collioure', 'param_1': 1}
<City(name=Collioure)>
2021-12-04 23:43:46,316 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,319 INFO sqlalchemy.engine.Engine [cached since 0.5866s ago] {'name_1': 'Carcassonne', 'param_1': 1}
<City(name=Carcassonne)>
2021-12-04 23:43:46,331 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,333 INFO sqlalchemy.engine.Engine [cached since 0.6012s ago] {'name_1': 'Ariege', 'param_1': 1}
<City(name=Ariege)>
2021-12-04 23:43:46,350 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,352 INFO sqlalchemy.engine.Engine [cached since 0.6199s ago] {'name_1': 'Toulouse', 'param_1': 1}
<City(name=Toulouse)>
2021-12-04 23:43:46,361 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,364 INFO sqlalchemy.engine.Engine [cached since 0.6315s ago] {'name_1': 'Montauban', 'param_1': 1}
<City(name=Montauban)>
2021-12-04 23:43:46,372 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,375 INFO sqlalchemy.engine.Engine [cached since 0.6423s ago] {'name_1': 'Biarritz', 'param_1': 1}
<City(name=Biarritz)>
2021-12-04 23:43:46,384 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,387 INFO sqlalchemy.engine.Engine [cached since 0.6544s ago] {'name_1': 'Bayonne', 'param_1': 1}
<City(name=Bayonne)>
2021-12-04 23:43:46,411 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:46,413 INFO sqlalchemy.engine.Engine [cached since 0.6808s ago] {'name_1': 'La Rochelle', 'param_1': 1}
<City(name=La Rochelle)>

### Weather

In [29]:
# fill Weather TABLE
for idx in range(weather_df_volume.shape[0]) : 
    # get row
    weather_row = weather_df_volume.iloc[idx]

    # create city object
    weather_id        = int(weather_row["index"])
    city_uuid         = weather_row["uuid"]
    weather_volume    = float(weather_row["volume_rain_7days"])
    weather = Weather(weather_id=weather_id, city_uuid=city_uuid, volume_rain=weather_volume)

    # add & commit
    # verify if cities in table
    weather_in_table = local_session.query(Weather).filter_by(weather_id=weather_id).first()

    if not weather_in_table : 
        # Add values to db 
        local_session.add(weather)

        # Commit the results 
        local_session.commit()   
        
    print(weather)

2021-12-04 23:43:48,635 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,637 INFO sqlalchemy.engine.Engine [generated in 0.00264s] {'weather_id_1': 0, 'param_1': 1}
<Weather(uuid=87f71cf6-82e0-4d02-b54e-e291624d4a7a, volume=7.118)>
2021-12-04 23:43:48,648 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,649 INFO sqlalchemy.engine.Engine [cached since 0.01448s ago] {'weather_id_1': 1, 'param_1': 1}
<Weather(uuid=ca7c0a3f-29b6-40d0-b546-4db8b5b6a903, volume=6.299)>
2021-12-04 23:43:48,656 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,659 INFO sqlalchemy.engine.Engine [cached since 0.02413s ago] {'weather_id_1': 2, 'param_1': 1}
<Weather(uuid=fbcb38b4-588f-4699-8627-7b403b728e05, volume=4.831)>
2021-12-04 23:43:48,665 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,667 INFO sqlalchemy.engine.Engine [cached since 0.03222s ago] {'weather_id_1': 3, 'param_1': 1}
<Weather(uuid=ca21cdf4-e86e-4d3c-a894-f75e6ce20fe6, volume=5.985)>
2021-12-04 23:43:48,675 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,677 INFO sqlalchemy.engine.Engine [cached since 0.0427s ago] {'weather_id_1': 4, 'param_1': 1}
<Weather(uuid=e211db59-98ca-4f5c-a64c-0af6490a83d1, volume=3.425)>
2021-12-04 23:43:48,684 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,687 INFO sqlalchemy.engine.Engine [cached since 0.05187s ago] {'weather_id_1': 5, 'param_1': 1}
<Weather(uuid=337cb23d-75a8-4600-b0a0-6aaf14ab1b8d, volume=3.074)>
2021-12-04 23:43:48,694 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,697 INFO sqlalchemy.engine.Engine [cached since 0.06205s ago] {'weather_id_1': 6, 'param_1': 1}
<Weather(uuid=e9d7263d-7022-4058-9ecc-661044364f9f, volume=4.028)>
2021-12-04 23:43:48,705 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,707 INFO sqlalchemy.engine.Engine [cached since 0.07206s ago] {'weather_id_1': 7, 'param_1': 1}
<Weather(uuid=066beac3-37cb-4a0c-bbd3-332faaaf9345, volume=6.004)>
2021-12-04 23:43:48,714 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,717 INFO sqlalchemy.engine.Engine [cached since 0.08204s ago] {'weather_id_1': 8, 'param_1': 1}
<Weather(uuid=1c87804e-2463-4f8b-81ae-12fa1b7717c2, volume=3.709)>
2021-12-04 23:43:48,723 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,725 INFO sqlalchemy.engine.Engine [cached since 0.09037s ago] {'weather_id_1': 9, 'param_1': 1}
<Weather(uuid=fd0e9ab5-2ef3-4732-81c2-7d49f4db7db4, volume=4.052)>
2021-12-04 23:43:48,734 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,736 INFO sqlalchemy.engine.Engine [cached since 0.1012s ago] {'weather_id_1': 10, 'param_1': 1}
<Weather(uuid=dded3711-c772-43bd-9401-1fb13ff46ec0, volume=4.411)>
2021-12-04 23:43:48,744 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,745 INFO sqlalchemy.engine.Engine [cached since 0.1104s ago] {'weather_id_1': 11, 'param_1': 1}
<Weather(uuid=1562b761-a84a-4fca-9d87-c9c474f9ac46, volume=4.777)>
2021-12-04 23:43:48,753 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,755 INFO sqlalchemy.engine.Engine [cached since 0.1209s ago] {'weather_id_1': 12, 'param_1': 1}
<Weather(uuid=e72d90cf-9252-4c78-aba4-8d06fcbe849c, volume=5.443)>
2021-12-04 23:43:48,763 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,764 INFO sqlalchemy.engine.Engine [cached since 0.1296s ago] {'weather_id_1': 13, 'param_1': 1}
<Weather(uuid=97a758c7-3c0b-4aeb-a221-eeb040210d37, volume=3.559)>
2021-12-04 23:43:48,773 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,777 INFO sqlalchemy.engine.Engine [cached since 0.1428s ago] {'weather_id_1': 14, 'param_1': 1}
<Weather(uuid=41bf74ef-6ff3-4d3f-b281-50abdd72acd4, volume=5.399)>
2021-12-04 23:43:48,790 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,794 INFO sqlalchemy.engine.Engine [cached since 0.1595s ago] {'weather_id_1': 15, 'param_1': 1}
<Weather(uuid=aea900e8-2449-41c9-bb7e-54592de9c735, volume=6.831)>
2021-12-04 23:43:48,807 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,810 INFO sqlalchemy.engine.Engine [cached since 0.1753s ago] {'weather_id_1': 16, 'param_1': 1}
<Weather(uuid=e0bf67f1-1201-4300-8966-3a27da65f958, volume=3.001)>
2021-12-04 23:43:48,825 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,827 INFO sqlalchemy.engine.Engine [cached since 0.1924s ago] {'weather_id_1': 17, 'param_1': 1}
<Weather(uuid=89fd5132-7c08-4eb2-9669-040a267cbe7b, volume=0.376)>
2021-12-04 23:43:48,843 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,846 INFO sqlalchemy.engine.Engine [cached since 0.2112s ago] {'weather_id_1': 18, 'param_1': 1}
<Weather(uuid=9c4afc28-183c-449e-85f6-672dfdc7aa02, volume=0.665)>
2021-12-04 23:43:48,857 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,862 INFO sqlalchemy.engine.Engine [cached since 0.227s ago] {'weather_id_1': 19, 'param_1': 1}
<Weather(uuid=0f997a38-7112-4601-a652-414a3027a7a0, volume=1.06)>
2021-12-04 23:43:48,873 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,876 INFO sqlalchemy.engine.Engine [cached since 0.2417s ago] {'weather_id_1': 20, 'param_1': 1}
<Weather(uuid=f2402ecb-e935-47cc-9271-5245459216ad, volume=1.169)>
2021-12-04 23:43:48,887 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,893 INFO sqlalchemy.engine.Engine [cached since 0.258s ago] {'weather_id_1': 21, 'param_1': 1}
<Weather(uuid=1af774b6-52ae-4c60-b371-bc10d6a33c44, volume=1.273)>
2021-12-04 23:43:48,905 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,907 INFO sqlalchemy.engine.Engine [cached since 0.2726s ago] {'weather_id_1': 22, 'param_1': 1}
<Weather(uuid=b25edfb9-59c8-4ea8-a785-c541dd41191a, volume=1.357)>
2021-12-04 23:43:48,926 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,929 INFO sqlalchemy.engine.Engine [cached since 0.2943s ago] {'weather_id_1': 23, 'param_1': 1}
<Weather(uuid=fbfaeec5-dced-417d-b231-6b3e9f9fa000, volume=1.047)>
2021-12-04 23:43:48,946 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,953 INFO sqlalchemy.engine.Engine [cached since 0.3188s ago] {'weather_id_1': 24, 'param_1': 1}
<Weather(uuid=4880e451-d96c-442c-a01c-3a8b2cdfeadb, volume=0.954)>
2021-12-04 23:43:48,972 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,975 INFO sqlalchemy.engine.Engine [cached since 0.3402s ago] {'weather_id_1': 25, 'param_1': 1}
<Weather(uuid=ca134083-2361-4102-ba83-b18281af58ef, volume=1.306)>
2021-12-04 23:43:48,992 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:48,995 INFO sqlalchemy.engine.Engine [cached since 0.3604s ago] {'weather_id_1': 26, 'param_1': 1}
<Weather(uuid=25831779-40dd-4f9f-95ea-cb9cb26a506c, volume=1.227)>
2021-12-04 23:43:49,009 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,013 INFO sqlalchemy.engine.Engine [cached since 0.3789s ago] {'weather_id_1': 27, 'param_1': 1}
<Weather(uuid=0fb36260-b9fb-4ab8-a42e-d0132ce6b81b, volume=0.077)>
2021-12-04 23:43:49,052 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,064 INFO sqlalchemy.engine.Engine [cached since 0.4292s ago] {'weather_id_1': 28, 'param_1': 1}
<Weather(uuid=52a8a039-15c0-413a-afd6-c91529c065db, volume=2.933)>
2021-12-04 23:43:49,080 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,090 INFO sqlalchemy.engine.Engine [cached since 0.4554s ago] {'weather_id_1': 29, 'param_1': 1}
<Weather(uuid=009d2a7b-a86f-474e-96bb-924cf9c48feb, volume=3.574)>
2021-12-04 23:43:49,112 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,118 INFO sqlalchemy.engine.Engine [cached since 0.4831s ago] {'weather_id_1': 30, 'param_1': 1}
<Weather(uuid=4de7a96b-c5e9-4ee2-9d88-e8f2d3587913, volume=3.214)>
2021-12-04 23:43:49,132 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,136 INFO sqlalchemy.engine.Engine [cached since 0.5012s ago] {'weather_id_1': 31, 'param_1': 1}
<Weather(uuid=00dcf017-fbc9-42e7-bc47-d3c8d43be3b8, volume=3.667)>
2021-12-04 23:43:49,145 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,150 INFO sqlalchemy.engine.Engine [cached since 0.5159s ago] {'weather_id_1': 32, 'param_1': 1}
<Weather(uuid=176ebf7f-eef4-44bd-82d3-4754e153833e, volume=9.181)>
2021-12-04 23:43:49,164 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,174 INFO sqlalchemy.engine.Engine [cached since 0.5395s ago] {'weather_id_1': 33, 'param_1': 1}
<Weather(uuid=e6a97d2b-9ada-481a-9f77-8e4eb96b91f8, volume=9.445)>
2021-12-04 23:43:49,201 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,207 INFO sqlalchemy.engine.Engine [cached since 0.5721s ago] {'weather_id_1': 34, 'param_1': 1}
<Weather(uuid=a7e4ac3a-a57c-4ab5-87c8-c6bd3ca5a4cc, volume=4.875)>

### Hotel

In [30]:
# fill Hotel TABLE
for idx in range(hotels_df.shape[0]) : 
    # get row
    hotel_row = hotels_df.iloc[idx]

    # create city object
    hotel_id        = int(hotel_row["index"])
    name            = hotel_row["name"]
    city            = hotel_row["city"]
    url             = hotel_row["url"]
    image_url       = hotel_row["image_url"]
    score           = hotel_row["score"]
    description     = hotel_row["description"]

    # hotel object
    hotel = Hotel(hotel_id=hotel_id, name=name, 
                    city=city, url=url, 
                    image_url=image_url, score=score, 
                    description=description)

    # add & commit
    # verify if cities in table
    hotel_in_table = local_session.query(Hotel).filter_by(name=name).first()

    if not hotel_in_table : 
        # Add values to db 
        local_session.add(hotel)

        # Commit the results 
        local_session.commit()   
        
    print(hotel)

2021-12-04 23:43:49,605 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,608 INFO sqlalchemy.engine.Engine [generated in 0.00317s] {'name_1': 'Les Terrasses Poulard', 'param_1': 1}
<Hotel(name=Les Terrasses Poulard, score=7.3)>
2021-12-04 23:43:49,621 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,624 INFO sqlalchemy.engine.Engine [cached since 0.0198s ago] {'name_1': 'Le Relais Saint Michel', 'param_1': 1}
<Hotel(name=Le Relais Saint Michel, score=7.8)>
2021-12-04 23:43:49,643 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,649 INFO sqlalchemy.engine.Engine [cached since 0.04461s ago] {'name_1': 'Hotel De La Digue', 'param_1': 1}
<Hotel(name=Hotel De La Digue, score=7.1)>
2021-12-04 23:43:49,659 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,661 INFO sqlalchemy.engine.Engine [cached since 0.05614s ago] {'name_1': 'La Mère Poulard', 'param_1': 1}
<Hotel(name=La Mère Poulard, score=7.2)>
2021-12-04 23:43:49,669 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,672 INFO sqlalchemy.engine.Engine [cached since 0.06713s ago] {'name_1': 'Hôtel Vert', 'param_1': 1}
<Hotel(name=Hôtel Vert, score=8.1)>
2021-12-04 23:43:49,682 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,684 INFO sqlalchemy.engine.Engine [cached since 0.0801s ago] {'name_1': 'Le Mouton Blanc', 'param_1': 1}
<Hotel(name=Le Mouton Blanc, score=7.2)>
2021-12-04 23:43:49,695 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,697 INFO sqlalchemy.engine.Engine [cached since 0.09229s ago] {'name_1': 'Mercure Mont Saint Michel', 'param_1': 1}
<Hotel(name=Mercure Mont Saint Michel, score=8.2)>
2021-12-04 23:43:49,706 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,712 INFO sqlalchemy.engine.Engine [cached since 0.1077s ago] {'name_1': 'La Vieille Auberge', 'param_1': 1}
<Hotel(name=La Vieille Auberge, score=7.4)>
2021-12-04 23:43:49,721 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,728 INFO sqlalchemy.engine.Engine [cached since 0.1233s ago] {'name_1': 'Le Saint Aubert', 'param_1': 1}
<Hotel(name=Le Saint Aubert, score=7.3)>
2021-12-04 23:43:49,743 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,747 INFO sqlalchemy.engine.Engine [cached since 0.1422s ago] {'name_1': 'Hotel Gabriel', 'param_1': 1}
<Hotel(name=Hotel Gabriel, score=8.1)>
2021-12-04 23:43:49,756 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,758 INFO sqlalchemy.engine.Engine [cached since 0.1535s ago] {'name_1': 'Nomad Hotel le Havre', 'param_1': 1}
<Hotel(name=Nomad Hotel le Havre, score=8.6)>
2021-12-04 23:43:49,769 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,772 INFO sqlalchemy.engine.Engine [cached since 0.1675s ago] {'name_1': 'ibis Le Havre Centre', 'param_1': 1}
<Hotel(name=ibis Le Havre Centre, score=8.1)>
2021-12-04 23:43:49,783 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,786 INFO sqlalchemy.engine.Engine [cached since 0.1816s ago] {'name_1': 'Holiday Inn Express - Le Havre Centre', 'param_1': 1}
<Hotel(name=Holiday Inn Express - Le Havre Centre, score=8.2)>
2021-12-04 23:43:49,798 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,800 INFO sqlalchemy.engine.Engine [cached since 0.1955s ago] {'name_1': 'Ibis Budget Le Havre Les Docks', 'param_1': 1}
<Hotel(name=Ibis Budget Le Havre Les Docks, score=8.4)>
2021-12-04 23:43:49,810 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,812 INFO sqlalchemy.engine.Engine [cached since 0.208s ago] {'name_1': 'B&B Hotel LE HAVRE Centre Gare', 'param_1': 1}
<Hotel(name=B&B Hotel LE HAVRE Centre Gare, score=7.5)>
2021-12-04 23:43:49,824 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,829 INFO sqlalchemy.engine.Engine [cached since 0.2243s ago] {'name_1': 'ibis budget Saint Malo Centre', 'param_1': 1}
<Hotel(name=ibis budget Saint Malo Centre, score=7.5)>
2021-12-04 23:43:49,840 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,844 INFO sqlalchemy.engine.Engine [cached since 0.2401s ago] {'name_1': 'Premiere Classe Le Havre Centre', 'param_1': 1}
<Hotel(name=Premiere Classe Le Havre Centre, score=7.5)>
2021-12-04 23:43:49,859 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,864 INFO sqlalchemy.engine.Engine [cached since 0.2601s ago] {'name_1': 'Kyriad Le Havre Centre', 'param_1': 1}
<Hotel(name=Kyriad Le Havre Centre, score=6.9)>
2021-12-04 23:43:49,880 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,886 INFO sqlalchemy.engine.Engine [cached since 0.2798s ago] {'name_1': 'Hôtel Les Gens De Mer Le Havre by Popinns', 'param_1': 1}
<Hotel(name=Hôtel Les Gens De Mer Le Havre by Popinns, score=6.5)>
2021-12-04 23:43:49,902 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,904 INFO sqlalchemy.engine.Engine [cached since 0.3s ago] {'name_1': 'Kyriad Prestige Saint-Malo', 'param_1': 1}
<Hotel(name=Kyriad Prestige Saint-Malo, score=8.6)>
2021-12-04 23:43:49,929 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,932 INFO sqlalchemy.engine.Engine [cached since 0.3276s ago] {'name_1': "Hotel De L'univers", 'param_1': 1}
<Hotel(name=Hotel De L'univers, score=8.1)>
2021-12-04 23:43:49,964 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:49,970 INFO sqlalchemy.engine.Engine [cached since 0.3659s ago] {'name_1': 'B&B Hôtel Saint-Malo Centre', 'param_1': 1}
<Hotel(name=B&B Hôtel Saint-Malo Centre, score=7.3)>
2021-12-04 23:43:49,998 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,003 INFO sqlalchemy.engine.Engine [cached since 0.3991s ago] {'name_1': 'Eklo Hotels Le Havre', 'param_1': 1}
<Hotel(name=Eklo Hotels Le Havre, score=6.4)>
2021-12-04 23:43:50,015 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,016 INFO sqlalchemy.engine.Engine [cached since 0.4118s ago] {'name_1': 'Mercure Le Havre Centre Bassin Du Commerce', 'param_1': 1}
<Hotel(name=Mercure Le Havre Centre Bassin Du Commerce, score=7.6)>
2021-12-04 23:43:50,025 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,028 INFO sqlalchemy.engine.Engine [cached since 0.4234s ago] {'name_1': 'Kyriad Rouen Centre', 'param_1': 1}
<Hotel(name=Kyriad Rouen Centre, score=6.9)>
2021-12-04 23:43:50,039 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,042 INFO sqlalchemy.engine.Engine [cached since 0.4376s ago] {'name_1': 'Hotel De La Cite', 'param_1': 1}
<Hotel(name=Hotel De La Cite, score=7.7)>
2021-12-04 23:43:50,052 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,054 INFO sqlalchemy.engine.Engine [cached since 0.4498s ago] {'name_1': 'ibis Styles Saint Malo Port', 'param_1': 1}
<Hotel(name=ibis Styles Saint Malo Port, score=8.0)>
2021-12-04 23:43:50,063 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,068 INFO sqlalchemy.engine.Engine [cached since 0.4632s ago] {'name_1': 'Campanile Rouen Mermoz', 'param_1': 1}
<Hotel(name=Campanile Rouen Mermoz, score=8.2)>
2021-12-04 23:43:50,079 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,082 INFO sqlalchemy.engine.Engine [cached since 0.4781s ago] {'name_1': 'Astrid', 'param_1': 1}
<Hotel(name=Astrid, score=6.7)>
2021-12-04 23:43:50,099 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,102 INFO sqlalchemy.engine.Engine [cached since 0.4972s ago] {'name_1': 'ibis Rouen Centre Champ de Mars', 'param_1': 1}
<Hotel(name=ibis Rouen Centre Champ de Mars, score=8.2)>
2021-12-04 23:43:50,118 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,124 INFO sqlalchemy.engine.Engine [cached since 0.5199s ago] {'name_1': 'Best Western Plus Hotel Litteraire Gustave Flaubert', 'param_1': 1}
<Hotel(name=Best Western Plus Hotel Litteraire Gustave Flaubert, score=8.6)>
2021-12-04 23:43:50,135 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,138 INFO sqlalchemy.engine.Engine [cached since 0.534s ago] {'name_1': 'Escale Oceania Saint Malo', 'param_1': 1}
<Hotel(name=Escale Oceania Saint Malo, score=8.2)>
2021-12-04 23:43:50,153 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,181 INFO sqlalchemy.engine.Engine [cached since 0.5766s ago] {'name_1': 'Oceania Saint Malo', 'param_1': 1}
<Hotel(name=Oceania Saint Malo, score=8.5)>
2021-12-04 23:43:50,208 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,220 INFO sqlalchemy.engine.Engine [cached since 0.6155s ago] {'name_1': 'ibis Styles Saint Malo Centre Historique', 'param_1': 1}
<Hotel(name=ibis Styles Saint Malo Centre Historique, score=7.9)>
2021-12-04 23:43:50,242 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,245 INFO sqlalchemy.engine.Engine [cached since 0.641s ago] {'name_1': 'Brit Hotel Confort Rouen Centre', 'param_1': 1}
<Hotel(name=Brit Hotel Confort Rouen Centre, score=7.5)>
2021-12-04 23:43:50,284 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,290 INFO sqlalchemy.engine.Engine [cached since 0.6854s ago] {'name_1': 'Golden Tulip Saint Malo– Le Grand Bé', 'param_1': 1}
<Hotel(name=Golden Tulip Saint Malo– Le Grand Bé, score=9.0)>
2021-12-04 23:43:50,308 INFO sqlalchemy.engine.Engine SELECT hotels.hotel_id AS hotels_hotel_id, hotels.name AS hotels_name, hotels.city AS hotels_city, hotels.url AS hotels_url, hotels.image_url AS hotels_image_url, hotels.score AS hotels_score, hotels.description AS hotels_description
FROM hotels
WHERE hotels.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:43:50,313 INFO sqlalchemy.engine.Engine [cached since 0.709s ago] {'name_1': 'Mercure Rouen Centre Cathédrale', 'param_1': 1}
<Hotel(name=Mercure Rouen Centre Cathédrale, score=8.2)>