# ETL & Datawarehouse
**Purpose** : load, process and save data from a datalake (S3) to a datawarehouse (RDS)

In [1]:
# import 
import os
import boto3
import pandas as pd
from dotenv import load_dotenv
from IPython.display import display
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker 
from sqlalchemy import Column, Integer, String, Float 
from sqlalchemy.ext.declarative import declarative_base

In [2]:
# load dotenv variables
load_dotenv()
DBUSER = os.getenv('DBUSER')
DBPASS = os.getenv('DBPASS')
DBHOST = os.getenv('DBHOST')
DBNAME = os.getenv('DBNAME')

DBNAME

'postgres'

In [3]:
# engine : connected to our db
connection_string = f"postgresql+psycopg2://{DBUSER}:{DBPASS}@{DBHOST}/{DBNAME}"
engine = create_engine(connection_string, echo=True, future=True)

In [4]:
# sqlalchemy session to upload database
Session = sessionmaker(bind=engine)
local_session = Session()

In [5]:
# declarative base
Base = declarative_base()

# create city table
# Let's define our table 
class City(Base):
    __tablename__ = "cities"

    uuid = Column(String, primary_key=True)
    name = Column(String)
    full_address = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)

    def __repr__(self):
        return f"<City(name={self.name})>"

# weather table
class Weather(Base):
    __tablename__ = "weathers"

    weather_id = Column(Integer, primary_key=True)
    city_uuid = Column(String)
    volume_rain = Column(Float)

    def __repr__(self):
        return f"<Weather(uuid={self.city_uuid}, volume={self.volume_rain})>"

In [6]:
# create_table
INIT = True
if INIT : 
    Base.metadata.create_all(engine)

2021-12-04 23:01:10,702 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2021-12-04 23:01:10,703 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-04 23:01:10,712 INFO sqlalchemy.engine.Engine select current_schema()
2021-12-04 23:01:10,714 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-04 23:01:10,723 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-12-04 23:01:10,724 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-04 23:01:10,732 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:10,735 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-12-04 23:01:10,737 INFO sqlalchemy.engine.Engine [generated in 0.00282s] {'name': 'cities'}
2021-12-04 23:01:10,746 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2021-12-04 23:01:10,747 INFO sqlalchemy.engine.Engine [cached since 0.01223s ago] {'name': 'weathers'}
2021-12-04 23:01:10,753 INFO sqlalchemy.engine.Engine
CREATE TABLE cities (
	uuid VARCHAR NOT NULL,
	name VARCHAR,
	full_address VARCHAR,
	latitude FLOAT,
	longitude FLOAT,
	PRIMARY KEY (uuid)
)


2021-12-04 23:01:10,755 INFO sqlalchemy.engine.Engine [no key 0.00149s] {}
2021-12-04 23:01:10,767 INFO sqlalchemy.engine.Engine
CREATE TABLE weathers (
	weather_id SERIAL NOT NULL,
	city_uuid VARCHAR,
	volume_rain FLOAT,
	PRIMARY KEY (weather_id)
)


2021-12-04 23:01:10,768 INFO sqlalchemy.engine.Engine [no key 0.00081s] {}
2021-12-04 23:01:10,777 INFO sqlalchemy.engine.Engine COMMIT

### Read Datalake files
* weather_csv
* hotels_booking_csv

In [7]:
# s3 bucket
# dotenv variables
load_dotenv()
AWSS_ACCESS_KEY = os.getenv('AWS_ACCESS_KEY_ID')
AWS_SECRET_ACCESS_KEY = os.getenv('AWS_SECRET_ACCESS_KEY')

# aws session
session = boto3.Session(aws_access_key_id=AWSS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_ACCESS_KEY)

# s3 service
s3 = session.resource("s3")

# bucket 
bucket_name = 'kayak-mahadou'
kayak_bucket = s3.Bucket(bucket_name)

In [8]:
# read weather data from s3
weather_key = "weather_data.csv"
weather_csv_obj = s3.Object(bucket_name, weather_key)
weather_csv = weather_csv_obj.get()['Body'].read().decode('utf-8') 

# dataframe
weather_df = pd.read_csv(weather_csv, index_col=[0])
display(weather_df.sample(2))
weather_df.columns

,uuid,cities,full_address,latitude,longitude,volume_rain_7days
29,009d2a7b-a86f-474e-96bb-924cf9c48feb,Ariege,"Ariège, Occitanie, France métropolitaine, France",42.945537,1.406554,3.574
4,e211db59-98ca-4f5c-a64c-0af6490a83d1,Rouen,"Rouen, Seine-Maritime, Normandie, France métro...",49.440459,1.093966,3.425

Index(['uuid', 'cities', 'full_address', 'latitude', 'longitude',
       'volume_rain_7days'],
      dtype='object')

In [9]:
# read hotels data from s3
hotels_key = "hotels_booking.csv"
hotels_key_obj = s3.Object(bucket_name, hotels_key)
hotels_csv = hotels_key_obj.get()['Body'].read().decode('utf-8') 

# dataframe
hotels_df = pd.read_csv(hotels_csv, index_col=[0])
display(hotels_df.sample(2))

,city,name,url,image_url,score,description
237,saintes-maries-de-la-mer,Hôtel Les Arcades,booking.com/hotel/fr/ha-tel-les-arcades.fr.htm...,https://cf.bstatic.com/xdata/images/hotel/squa...,8.7,L'Hôtel 2 étoiles Les Arcades propose une conn...
244,carcassonne,ibis budget Carcassonne Aéroport - A61,booking.com/hotel/fr/etap-carcassonne-aeroport...,https://cf.bstatic.com/xdata/images/hotel/squa...,7.8,L'ibis budget Carcassonne Aéroport vous accuei...

### City

In [10]:
# get cities df
keep_col = ['uuid', 'cities', 'full_address', 'latitude', 'longitude']
city_df = weather_df[keep_col].copy()

display(city_df.sample(2))

,uuid,cities,full_address,latitude,longitude
23,fbfaeec5-dced-417d-b231-6b3e9f9fa000,Uzes,"Uzès, Nîmes, Gard, Occitanie, France métropoli...",44.012128,4.419672
24,4880e451-d96c-442c-a01c-3a8b2cdfeadb,Nimes,"Nîmes, Gard, Occitanie, France métropolitaine,...",43.837425,4.360069

In [11]:
# # all_cities in database
# cities_list = local_session.query(City)..filter_by(name='Joe').first()
# session.query(db.users).filter_by(name='Joe', surname='Dodson')
# user = User.query.filter_by(email=email).first()

In [12]:
# fill City TABLE
for idx in range(city_df.shape[0]) : 
    # get row
    city_row = city_df.iloc[idx]

    # create city object
    city_uuid         = city_row["uuid"]
    city_name         = city_row["cities"]
    city_fulladdress  = city_row["full_address"]
    city_latitude     = city_row["latitude"]
    city_longitude    = city_row["longitude"]
    city = City(uuid=city_uuid, name=city_name, full_address=city_fulladdress,
                latitude=city_latitude, longitude=city_longitude)

    # add & commit
    # verify if cities in table
    city_in_table = local_session.query(City).filter_by(name=city_name).first()

    if not city_in_table : 
        # Add values to db 
        local_session.add(city)

        # Commit the results 
        local_session.commit()   
        
    print(city)

2021-12-04 23:01:11,673 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:11,682 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:11,684 INFO sqlalchemy.engine.Engine [generated in 0.00305s] {'name_1': 'Mont Saint Michel', 'param_1': 1}
2021-12-04 23:01:11,700 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:11,702 INFO sqlalchemy.engine.Engine [generated in 0.00399s] {'uuid': '87f71cf6-82e0-4d02-b54e-e291624d4a7a', 'name': 'Mont Saint Michel', 'full_address': 'Mont Saint-Michel, Le Mont-Saint-Michel, Avranches, Manche, Normandie, France métropolitaine, 50170, France', 'latitude': 48.6359541, 'longitude': -1.511459954959514}
2021-12-04 23:01:11,711 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:11,722 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:11,726 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:11,730 INFO sqlalchemy.engine.Engine [generated in 0.00422s] {'pk_1': '87f71cf6-82e0-4d02-b54e-e291624d4a7a'}
<City(name=Mont Saint Michel)>
2021-12-04 23:01:11,744 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:11,748 INFO sqlalchemy.engine.Engine [cached since 0.06791s ago] {'name_1': 'St Malo', 'param_1': 1}
2021-12-04 23:01:11,755 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:11,759 INFO sqlalchemy.engine.Engine [cached since 0.06152s ago] {'uuid': 'ca7c0a3f-29b6-40d0-b546-4db8b5b6a903', 'name': 'St Malo', 'full_address': 'Saint-Malo, Ille-et-Vilaine, Bretagne, France métropolitaine, 35400, France', 'latitude': 48.649518, 'longitude': -2.0260409}
2021-12-04 23:01:11,765 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:11,775 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:11,782 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:11,785 INFO sqlalchemy.engine.Engine [cached since 0.05922s ago] {'pk_1': 'ca7c0a3f-29b6-40d0-b546-4db8b5b6a903'}
<City(name=St Malo)>
2021-12-04 23:01:11,796 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:11,797 INFO sqlalchemy.engine.Engine [cached since 0.1167s ago] {'name_1': 'Bayeux', 'param_1': 1}
2021-12-04 23:01:11,804 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:11,808 INFO sqlalchemy.engine.Engine [cached since 0.1105s ago] {'uuid': 'fbcb38b4-588f-4699-8627-7b403b728e05', 'name': 'Bayeux', 'full_address': 'Bayeux, Calvados, Normandie, France métropolitaine, 14400, France', 'latitude': 49.2764624, 'longitude': -0.7024738}
2021-12-04 23:01:11,816 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:11,825 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:11,830 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:11,834 INFO sqlalchemy.engine.Engine [cached since 0.1082s ago] {'pk_1': 'fbcb38b4-588f-4699-8627-7b403b728e05'}
<City(name=Bayeux)>
2021-12-04 23:01:11,851 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:11,855 INFO sqlalchemy.engine.Engine [cached since 0.1739s ago] {'name_1': 'Le Havre', 'param_1': 1}
2021-12-04 23:01:11,862 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:11,866 INFO sqlalchemy.engine.Engine [cached since 0.1686s ago] {'uuid': 'ca21cdf4-e86e-4d3c-a894-f75e6ce20fe6', 'name': 'Le Havre', 'full_address': 'Le Havre, Seine-Maritime, Normandie, France métropolitaine, France', 'latitude': 49.4938975, 'longitude': 0.1079732}
2021-12-04 23:01:11,874 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:11,881 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:11,884 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:11,886 INFO sqlalchemy.engine.Engine [cached since 0.1606s ago] {'pk_1': 'ca21cdf4-e86e-4d3c-a894-f75e6ce20fe6'}
<City(name=Le Havre)>
2021-12-04 23:01:11,901 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:11,908 INFO sqlalchemy.engine.Engine [cached since 0.2273s ago] {'name_1': 'Rouen', 'param_1': 1}
2021-12-04 23:01:11,915 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:11,920 INFO sqlalchemy.engine.Engine [cached since 0.2227s ago] {'uuid': 'e211db59-98ca-4f5c-a64c-0af6490a83d1', 'name': 'Rouen', 'full_address': 'Rouen, Seine-Maritime, Normandie, France métropolitaine, 76000, France', 'latitude': 49.4404591, 'longitude': 1.0939658}
2021-12-04 23:01:11,932 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:11,942 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:11,944 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:11,953 INFO sqlalchemy.engine.Engine [cached since 0.2277s ago] {'pk_1': 'e211db59-98ca-4f5c-a64c-0af6490a83d1'}
<City(name=Rouen)>
2021-12-04 23:01:11,970 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:11,972 INFO sqlalchemy.engine.Engine [cached since 0.291s ago] {'name_1': 'Paris', 'param_1': 1}
2021-12-04 23:01:11,983 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:11,992 INFO sqlalchemy.engine.Engine [cached since 0.2945s ago] {'uuid': '337cb23d-75a8-4600-b0a0-6aaf14ab1b8d', 'name': 'Paris', 'full_address': 'Paris, Île-de-France, France métropolitaine, France', 'latitude': 48.8588897, 'longitude': 2.3200410217200766}
2021-12-04 23:01:12,001 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:12,009 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:12,010 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:12,013 INFO sqlalchemy.engine.Engine [cached since 0.287s ago] {'pk_1': '337cb23d-75a8-4600-b0a0-6aaf14ab1b8d'}
<City(name=Paris)>
2021-12-04 23:01:12,027 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:12,030 INFO sqlalchemy.engine.Engine [cached since 0.3497s ago] {'name_1': 'Amiens', 'param_1': 1}
2021-12-04 23:01:12,037 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:12,039 INFO sqlalchemy.engine.Engine [cached since 0.3413s ago] {'uuid': 'e9d7263d-7022-4058-9ecc-661044364f9f', 'name': 'Amiens', 'full_address': 'Amiens, Somme, Hauts-de-France, France métropolitaine, 80000, France', 'latitude': 49.8941708, 'longitude': 2.2956951}
2021-12-04 23:01:12,044 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:12,051 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:12,054 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:12,056 INFO sqlalchemy.engine.Engine [cached since 0.3299s ago] {'pk_1': 'e9d7263d-7022-4058-9ecc-661044364f9f'}
<City(name=Amiens)>
2021-12-04 23:01:12,069 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:12,072 INFO sqlalchemy.engine.Engine [cached since 0.3911s ago] {'name_1': 'Lille', 'param_1': 1}
2021-12-04 23:01:12,080 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:12,081 INFO sqlalchemy.engine.Engine [cached since 0.3835s ago] {'uuid': '066beac3-37cb-4a0c-bbd3-332faaaf9345', 'name': 'Lille', 'full_address': 'Lille, Nord, Hauts-de-France, France métropolitaine, 59800, France', 'latitude': 50.6365654, 'longitude': 3.0635282}
2021-12-04 23:01:12,088 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:12,094 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:12,096 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:12,099 INFO sqlalchemy.engine.Engine [cached since 0.373s ago] {'pk_1': '066beac3-37cb-4a0c-bbd3-332faaaf9345'}
<City(name=Lille)>
2021-12-04 23:01:12,114 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:12,116 INFO sqlalchemy.engine.Engine [cached since 0.4354s ago] {'name_1': 'Strasbourg', 'param_1': 1}
2021-12-04 23:01:12,121 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:12,123 INFO sqlalchemy.engine.Engine [cached since 0.4249s ago] {'uuid': '1c87804e-2463-4f8b-81ae-12fa1b7717c2', 'name': 'Strasbourg', 'full_address': 'Strasbourg, Bas-Rhin, Grand Est, France métropolitaine, France', 'latitude': 48.584614, 'longitude': 7.7507127}
2021-12-04 23:01:12,129 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:12,136 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:12,139 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:12,140 INFO sqlalchemy.engine.Engine [cached since 0.4147s ago] {'pk_1': '1c87804e-2463-4f8b-81ae-12fa1b7717c2'}
<City(name=Strasbourg)>
2021-12-04 23:01:12,153 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:12,153 INFO sqlalchemy.engine.Engine [cached since 0.4728s ago] {'name_1': 'Chateau du Haut Koenigsbourg', 'param_1': 1}
2021-12-04 23:01:12,160 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:12,163 INFO sqlalchemy.engine.Engine [cached since 0.4654s ago] {'uuid': 'fd0e9ab5-2ef3-4732-81c2-7d49f4db7db4', 'name': 'Chateau du Haut Koenigsbourg', 'full_address': 'Château du Haut-Kœnigsbourg, Chemin fermé suite  à travaux, Château du Haut-Kœnigsbourg, Orschwiller, Sélestat-Erstein, Bas-Rhin, Grand Est, France métropolitaine, 67600, France', 'latitude': 48.249489800000006, 'longitude': 7.34429620253195}
2021-12-04 23:01:12,170 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:12,177 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:12,179 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:12,182 INFO sqlalchemy.engine.Engine [cached since 0.4565s ago] {'pk_1': 'fd0e9ab5-2ef3-4732-81c2-7d49f4db7db4'}
<City(name=Chateau du Haut Koenigsbourg)>
2021-12-04 23:01:12,194 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:12,200 INFO sqlalchemy.engine.Engine [cached since 0.5193s ago] {'name_1': 'Colmar', 'param_1': 1}
2021-12-04 23:01:12,210 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:12,218 INFO sqlalchemy.engine.Engine [cached since 0.5206s ago] {'uuid': 'dded3711-c772-43bd-9401-1fb13ff46ec0', 'name': 'Colmar', 'full_address': 'Colmar, Colmar-Ribeauvillé, Haut-Rhin, Grand Est, France métropolitaine, 68000, France', 'latitude': 48.0777517, 'longitude': 7.3579641}
2021-12-04 23:01:12,227 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:12,241 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:12,243 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:12,246 INFO sqlalchemy.engine.Engine [cached since 0.5206s ago] {'pk_1': 'dded3711-c772-43bd-9401-1fb13ff46ec0'}
<City(name=Colmar)>
2021-12-04 23:01:12,262 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:12,265 INFO sqlalchemy.engine.Engine [cached since 0.5846s ago] {'name_1': 'Eguisheim', 'param_1': 1}
2021-12-04 23:01:12,276 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:12,279 INFO sqlalchemy.engine.Engine [cached since 0.5817s ago] {'uuid': '1562b761-a84a-4fca-9d87-c9c474f9ac46', 'name': 'Eguisheim', 'full_address': 'Eguisheim, Colmar-Ribeauvillé, Haut-Rhin, Grand Est, France métropolitaine, 68420, France', 'latitude': 48.0447968, 'longitude': 7.3079618}
2021-12-04 23:01:12,287 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:12,294 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:12,298 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:12,301 INFO sqlalchemy.engine.Engine [cached since 0.5756s ago] {'pk_1': '1562b761-a84a-4fca-9d87-c9c474f9ac46'}
<City(name=Eguisheim)>
2021-12-04 23:01:12,315 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:12,316 INFO sqlalchemy.engine.Engine [cached since 0.6353s ago] {'name_1': 'Besancon', 'param_1': 1}
2021-12-04 23:01:12,321 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)
2021-12-04 23:01:12,324 INFO sqlalchemy.engine.Engine [cached since 0.6264s ago] {'uuid': 'e72d90cf-9252-4c78-aba4-8d06fcbe849c', 'name': 'Besancon', 'full_address': 'Besançon, Doubs, Bourgogne-Franche-Comté, France métropolitaine, 25000, France', 'latitude': 47.2380222, 'longitude': 6.0243622}
2021-12-04 23:01:12,331 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:12,339 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:12,340 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.uuid = %(pk_1)s
2021-12-04 23:01:12,342 INFO sqlalchemy.engine.Engine [cached since 0.6162s ago] {'pk_1': 'e72d90cf-9252-4c78-aba4-8d06fcbe849c'}
<City(name=Besancon)>
2021-12-04 23:01:12,355 INFO sqlalchemy.engine.Engine SELECT cities.uuid AS cities_uuid, cities.name AS cities_name, cities.full_address AS cities_full_address, cities.latitude AS cities_latitude, cities.longitude AS cities_longitude
FROM cities
WHERE cities.name = %(name_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:12,357 INFO sqlalchemy.engine.Engine [cached since 0.6765s ago] {'name_1': 'Dijon', 'param_1': 1}
2021-12-04 23:01:12,367 INFO sqlalchemy.engine.Engine INSERT INTO cities (uuid, name, full_address, latitude, longitude) VALUES (%(uuid)s, %(name)s, %(full_address)s, %(latitude)s, %(longitude)s)

### Weather

In [13]:
# weather df
keep_col = ['uuid', 'volume_rain_7days']
weather_df_volume = weather_df[keep_col].copy()
weather_df_volume = weather_df_volume.reset_index()
display(weather_df_volume.sample(2))

    index                                  uuid  volume_rain_7days
11     11  1562b761-a84a-4fca-9d87-c9c474f9ac46              4.777
30     30  4de7a96b-c5e9-4ee2-9d88-e8f2d3587913              3.214

In [14]:
# fill Weather TABLE
for idx in range(weather_df_volume.shape[0]) : 
    # get row
    weather_row = weather_df_volume.iloc[idx]

    # create city object
    weather_id        = int(weather_row["index"])
    city_uuid         = weather_row["uuid"]
    weather_volume    = float(weather_row["volume_rain_7days"])
    weather = Weather(weather_id=weather_id, city_uuid=city_uuid, volume_rain=weather_volume)

    # add & commit
    # verify if cities in table
    weather_in_table = local_session.query(Weather).filter_by(weather_id=weather_id).first()

    if not weather_in_table : 
        # Add values to db 
        local_session.add(weather)

        # Commit the results 
        local_session.commit()   
        
    print(weather)

2021-12-04 23:01:15,471 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:15,474 INFO sqlalchemy.engine.Engine [generated in 0.00344s] {'weather_id_1': 0, 'param_1': 1}
2021-12-04 23:01:15,482 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:15,483 INFO sqlalchemy.engine.Engine [generated in 0.00160s] {'weather_id': 0, 'city_uuid': '87f71cf6-82e0-4d02-b54e-e291624d4a7a', 'volume_rain': 7.118}
2021-12-04 23:01:15,489 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:15,496 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:15,500 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:15,501 INFO sqlalchemy.engine.Engine [generated in 0.00188s] {'pk_1': 0}
<Weather(uuid=87f71cf6-82e0-4d02-b54e-e291624d4a7a, volume=7.118)>
2021-12-04 23:01:15,512 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:15,516 INFO sqlalchemy.engine.Engine [cached since 0.04502s ago] {'weather_id_1': 1, 'param_1': 1}
2021-12-04 23:01:15,521 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:15,523 INFO sqlalchemy.engine.Engine [cached since 0.04079s ago] {'weather_id': 1, 'city_uuid': 'ca7c0a3f-29b6-40d0-b546-4db8b5b6a903', 'volume_rain': 6.299}
2021-12-04 23:01:15,528 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:15,534 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:15,538 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:15,544 INFO sqlalchemy.engine.Engine [cached since 0.04412s ago] {'pk_1': 1}
<Weather(uuid=ca7c0a3f-29b6-40d0-b546-4db8b5b6a903, volume=6.299)>
2021-12-04 23:01:15,557 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:15,561 INFO sqlalchemy.engine.Engine [cached since 0.09086s ago] {'weather_id_1': 2, 'param_1': 1}
2021-12-04 23:01:15,568 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:15,572 INFO sqlalchemy.engine.Engine [cached since 0.09047s ago] {'weather_id': 2, 'city_uuid': 'fbcb38b4-588f-4699-8627-7b403b728e05', 'volume_rain': 4.831}
2021-12-04 23:01:15,582 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:15,590 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:15,595 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:15,598 INFO sqlalchemy.engine.Engine [cached since 0.09799s ago] {'pk_1': 2}
<Weather(uuid=fbcb38b4-588f-4699-8627-7b403b728e05, volume=4.831)>
2021-12-04 23:01:15,615 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:15,618 INFO sqlalchemy.engine.Engine [cached since 0.1471s ago] {'weather_id_1': 3, 'param_1': 1}
2021-12-04 23:01:15,627 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:15,635 INFO sqlalchemy.engine.Engine [cached since 0.1528s ago] {'weather_id': 3, 'city_uuid': 'ca21cdf4-e86e-4d3c-a894-f75e6ce20fe6', 'volume_rain': 5.985}
2021-12-04 23:01:15,643 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:15,651 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:15,654 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:15,655 INFO sqlalchemy.engine.Engine [cached since 0.1559s ago] {'pk_1': 3}
<Weather(uuid=ca21cdf4-e86e-4d3c-a894-f75e6ce20fe6, volume=5.985)>
2021-12-04 23:01:15,667 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:15,668 INFO sqlalchemy.engine.Engine [cached since 0.1975s ago] {'weather_id_1': 4, 'param_1': 1}
2021-12-04 23:01:15,673 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:15,676 INFO sqlalchemy.engine.Engine [cached since 0.1947s ago] {'weather_id': 4, 'city_uuid': 'e211db59-98ca-4f5c-a64c-0af6490a83d1', 'volume_rain': 3.425}
2021-12-04 23:01:15,682 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:15,692 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:15,693 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:15,695 INFO sqlalchemy.engine.Engine [cached since 0.1952s ago] {'pk_1': 4}
<Weather(uuid=e211db59-98ca-4f5c-a64c-0af6490a83d1, volume=3.425)>
2021-12-04 23:01:15,709 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:15,712 INFO sqlalchemy.engine.Engine [cached since 0.2419s ago] {'weather_id_1': 5, 'param_1': 1}
2021-12-04 23:01:15,723 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:15,727 INFO sqlalchemy.engine.Engine [cached since 0.245s ago] {'weather_id': 5, 'city_uuid': '337cb23d-75a8-4600-b0a0-6aaf14ab1b8d', 'volume_rain': 3.074}
2021-12-04 23:01:15,738 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:15,745 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:15,748 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:15,753 INFO sqlalchemy.engine.Engine [cached since 0.2531s ago] {'pk_1': 5}
<Weather(uuid=337cb23d-75a8-4600-b0a0-6aaf14ab1b8d, volume=3.074)>
2021-12-04 23:01:15,771 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:15,775 INFO sqlalchemy.engine.Engine [cached since 0.3042s ago] {'weather_id_1': 6, 'param_1': 1}
2021-12-04 23:01:15,782 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:15,785 INFO sqlalchemy.engine.Engine [cached since 0.3033s ago] {'weather_id': 6, 'city_uuid': 'e9d7263d-7022-4058-9ecc-661044364f9f', 'volume_rain': 4.028}
2021-12-04 23:01:15,799 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:15,809 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:15,812 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:15,814 INFO sqlalchemy.engine.Engine [cached since 0.3149s ago] {'pk_1': 6}
<Weather(uuid=e9d7263d-7022-4058-9ecc-661044364f9f, volume=4.028)>
2021-12-04 23:01:15,828 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:15,830 INFO sqlalchemy.engine.Engine [cached since 0.3595s ago] {'weather_id_1': 7, 'param_1': 1}
2021-12-04 23:01:15,842 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:15,848 INFO sqlalchemy.engine.Engine [cached since 0.3666s ago] {'weather_id': 7, 'city_uuid': '066beac3-37cb-4a0c-bbd3-332faaaf9345', 'volume_rain': 6.004}
2021-12-04 23:01:15,858 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:15,866 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:15,871 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:15,874 INFO sqlalchemy.engine.Engine [cached since 0.3746s ago] {'pk_1': 7}
<Weather(uuid=066beac3-37cb-4a0c-bbd3-332faaaf9345, volume=6.004)>
2021-12-04 23:01:15,892 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:15,894 INFO sqlalchemy.engine.Engine [cached since 0.4237s ago] {'weather_id_1': 8, 'param_1': 1}
2021-12-04 23:01:15,902 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:15,907 INFO sqlalchemy.engine.Engine [cached since 0.4248s ago] {'weather_id': 8, 'city_uuid': '1c87804e-2463-4f8b-81ae-12fa1b7717c2', 'volume_rain': 3.709}
2021-12-04 23:01:15,915 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:15,924 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:15,925 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:15,928 INFO sqlalchemy.engine.Engine [cached since 0.429s ago] {'pk_1': 8}
<Weather(uuid=1c87804e-2463-4f8b-81ae-12fa1b7717c2, volume=3.709)>
2021-12-04 23:01:15,939 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:15,940 INFO sqlalchemy.engine.Engine [cached since 0.4694s ago] {'weather_id_1': 9, 'param_1': 1}
2021-12-04 23:01:15,945 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:15,948 INFO sqlalchemy.engine.Engine [cached since 0.4664s ago] {'weather_id': 9, 'city_uuid': 'fd0e9ab5-2ef3-4732-81c2-7d49f4db7db4', 'volume_rain': 4.052}
2021-12-04 23:01:15,953 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:15,957 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:15,960 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:15,962 INFO sqlalchemy.engine.Engine [cached since 0.4629s ago] {'pk_1': 9}
<Weather(uuid=fd0e9ab5-2ef3-4732-81c2-7d49f4db7db4, volume=4.052)>
2021-12-04 23:01:15,972 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:15,973 INFO sqlalchemy.engine.Engine [cached since 0.5024s ago] {'weather_id_1': 10, 'param_1': 1}
2021-12-04 23:01:15,980 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:15,983 INFO sqlalchemy.engine.Engine [cached since 0.5011s ago] {'weather_id': 10, 'city_uuid': 'dded3711-c772-43bd-9401-1fb13ff46ec0', 'volume_rain': 4.411}
2021-12-04 23:01:15,991 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:15,999 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:16,003 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:16,006 INFO sqlalchemy.engine.Engine [cached since 0.5066s ago] {'pk_1': 10}
<Weather(uuid=dded3711-c772-43bd-9401-1fb13ff46ec0, volume=4.411)>
2021-12-04 23:01:16,022 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:16,026 INFO sqlalchemy.engine.Engine [cached since 0.5552s ago] {'weather_id_1': 11, 'param_1': 1}
2021-12-04 23:01:16,036 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:16,039 INFO sqlalchemy.engine.Engine [cached since 0.5576s ago] {'weather_id': 11, 'city_uuid': '1562b761-a84a-4fca-9d87-c9c474f9ac46', 'volume_rain': 4.777}
2021-12-04 23:01:16,047 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:16,058 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:16,061 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:16,064 INFO sqlalchemy.engine.Engine [cached since 0.5646s ago] {'pk_1': 11}
<Weather(uuid=1562b761-a84a-4fca-9d87-c9c474f9ac46, volume=4.777)>
2021-12-04 23:01:16,077 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:16,083 INFO sqlalchemy.engine.Engine [cached since 0.6123s ago] {'weather_id_1': 12, 'param_1': 1}
2021-12-04 23:01:16,091 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:16,092 INFO sqlalchemy.engine.Engine [cached since 0.6102s ago] {'weather_id': 12, 'city_uuid': 'e72d90cf-9252-4c78-aba4-8d06fcbe849c', 'volume_rain': 5.443}
2021-12-04 23:01:16,098 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:16,110 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:16,115 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:16,120 INFO sqlalchemy.engine.Engine [cached since 0.6203s ago] {'pk_1': 12}
<Weather(uuid=e72d90cf-9252-4c78-aba4-8d06fcbe849c, volume=5.443)>
2021-12-04 23:01:16,133 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:16,138 INFO sqlalchemy.engine.Engine [cached since 0.667s ago] {'weather_id_1': 13, 'param_1': 1}
2021-12-04 23:01:16,142 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:16,146 INFO sqlalchemy.engine.Engine [cached since 0.6644s ago] {'weather_id': 13, 'city_uuid': '97a758c7-3c0b-4aeb-a221-eeb040210d37', 'volume_rain': 3.559}
2021-12-04 23:01:16,159 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:16,174 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:16,184 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:16,193 INFO sqlalchemy.engine.Engine [cached since 0.6936s ago] {'pk_1': 13}
<Weather(uuid=97a758c7-3c0b-4aeb-a221-eeb040210d37, volume=3.559)>
2021-12-04 23:01:16,209 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:16,211 INFO sqlalchemy.engine.Engine [cached since 0.7407s ago] {'weather_id_1': 14, 'param_1': 1}
2021-12-04 23:01:16,224 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:16,227 INFO sqlalchemy.engine.Engine [cached since 0.7449s ago] {'weather_id': 14, 'city_uuid': '41bf74ef-6ff3-4d3f-b281-50abdd72acd4', 'volume_rain': 5.399}
2021-12-04 23:01:16,237 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:16,249 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:16,257 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(pk_1)s
2021-12-04 23:01:16,261 INFO sqlalchemy.engine.Engine [cached since 0.7611s ago] {'pk_1': 14}
<Weather(uuid=41bf74ef-6ff3-4d3f-b281-50abdd72acd4, volume=5.399)>
2021-12-04 23:01:16,274 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain
FROM weathers
WHERE weathers.weather_id = %(weather_id_1)s
 LIMIT %(param_1)s
2021-12-04 23:01:16,276 INFO sqlalchemy.engine.Engine [cached since 0.8058s ago] {'weather_id_1': 15, 'param_1': 1}
2021-12-04 23:01:16,287 INFO sqlalchemy.engine.Engine INSERT INTO weathers (weather_id, city_uuid, volume_rain) VALUES (%(weather_id)s, %(city_uuid)s, %(volume_rain)s)
2021-12-04 23:01:16,293 INFO sqlalchemy.engine.Engine [cached since 0.8107s ago] {'weather_id': 15, 'city_uuid': 'aea900e8-2449-41c9-bb7e-54592de9c735', 'volume_rain': 6.831}
2021-12-04 23:01:16,301 INFO sqlalchemy.engine.Engine COMMIT
2021-12-04 23:01:16,314 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-04 23:01:16,316 INFO sqlalchemy.engine.Engine SELECT weathers.weather_id AS weathers_weather_id, weathers.city_uuid AS weathers_city_uuid, weathers.volume_rain AS weathers_volume_rain

### Hotel