# Jedha Kayak project #block1
Notebook for development

In [35]:
# import
import os
import requests
import pandas as pd
from dotenv import load_dotenv
from IPython.display import display
from geopy.geocoders import Nominatim

In [39]:
# env variables
load_dotenv()
OPEN_WEATHER_TOKEN = os.getenv('Open_weather_token')

## 1. Get weather data

In [13]:
french_top_35 = ["Mont Saint Michel", "St Malo", "Bayeux", "Le Havre",
                "Rouen", "Paris", "Amiens", "Lille", "Strasbourg",
                "Chateau du Haut Koenigsbourg", "Colmar", "Eguisheim",
                "Besancon", "Dijon", "Annecy", "Grenoble", "Lyon",
                "Gorges du Verdon", "Bormes les Mimosas", "Cassis",
                "Marseille", "Aix en Provence", "Avignon", "Uzes", "Nimes",
                "Aigues Mortes", "Saintes Maries de la mer", "Collioure",
                "Carcassonne", "Ariege", "Toulouse", "Montauban", "Biarritz",
                "Bayonne", "La Rochelle"]

In [24]:
# init dataframe
weather_df = pd.DataFrame(french_top_35, columns=["cities"])
display(weather_df.sample(2))

# empty column
weather_df["full_address"] = None
weather_df["latitude"] = None
weather_df["longitude"] = None
display(weather_df.sample(2))

              cities
2             Bayeux
17  Gorges du Verdon

    cities full_address latitude longitude
14  Annecy         None     None      None
7    Lille         None     None      None

In [33]:
# coordinates of cities
def cities_to_coords(city_name) :
    """ get cities coordiniates.
    """

    # geocoder
    geolocator = Nominatim(user_agent="app")
    location = geolocator.geocode(city_name)

    # full_address, latitude, longitude
    full_address = location.address
    latitude = location.latitude
    longitude = location.longitude

    # return 
    return pd.Series([full_address, latitude, longitude])

## RUN
if not "full_address" in weather_df.columns :
    weather_df[["full_address", "latitude", "longitude"]] = weather_df["cities"].apply(cities_to_coords)
    display(weather_df.sample(2))

else : 
    display(weather_df.sample(2))
    print("full_address, latitude & longitude columns exists !")

,cities,full_address,latitude,longitude
12,Besancon,"Besançon, Doubs, Bourgogne-Franche-Comté, Fran...",47.238022,6.024362
22,Avignon,"Avignon, Vaucluse, Provence-Alpes-Côte d'Azur,...",43.949249,4.805901

full_address, latitude & longitude columns exists !

In [41]:
# open weather one call api
params = (
    ('lat', '47.238022'),
    ('lon', '6.024362'),
    ('exclude', 'current,minutely,hourly,alerts'),
    ('appid', OPEN_WEATHER_TOKEN)
)

response = requests.get('https://api.openweathermap.org/data/2.5/onecall', params=params)

In [48]:
(response.json()["daily"])[0].keys()

dict_keys(['dt', 'sunrise', 'sunset', 'moonrise', 'moonset', 'moon_phase', 'temp', 'feels_like', 'pressure', 'humidity', 'dew_point', 'wind_speed', 'wind_deg', 'wind_gust', 'weather', 'clouds', 'pop', 'snow', 'uvi'])